strong{
    color: #2563eb;
}
.container {
    display: flex;
    gap: 40px;
    max-width: 1100px;
    margin: 50px auto;
}
.profile{
    width: 30%;
    text-align: center;
}

.profile img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}
.content {
    width: 70%;
}
.block{
    border: 1px solod #ccc;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 5 px;
}